/* Background */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background: #f7f8fc;
  min-height: 100vh;
}

/* Main Card */
.signup-card {
  background: #ffffff;
  border-radius: 25px;
  padding: 40px;
  width: 70%;
  max-width: 1100px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

.signup-row {
  display: flex;
  flex-wrap: wrap;
}

/* Left Section */
.signup-left {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}

/* Inputs */
.signup-input-row {
  display: flex;
  align-items: center;
  width: 70%;
  margin-bottom: 18px;
  background: #f2f2f2;
  border-radius: 12px;
  padding: 10px 15px;
}

.signup-input-row .icon {
  font-size: 20px;
  margin-right: 12px;
  color: #555;
}

.signup-input-row input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 15px;
}

/* Checkbox */
.signup-checkbox {
  margin: 15px 0;
  width: 90%;
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Button */
.signup-btn {
  width: 75%;
  padding: 14px;
  font-size: 18px;
  font-weight: bold;
  background: #3b71ca;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-btn:hover {
  background: #2b59a3;
}

/* Right Image */
.signup-right {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-right img {
  width: 100%;
  max-width: 450px;
}
.buttons{
  display: flex;
  gap: 20px;
}