.App {
  background: linear-gradient(
    106deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.AppGlass {
  display: grid;
  height: 85%;
  width: 90%;
  background: var(--glass);
  border-radius: 2rem;
  padding: 2rem;
  grid-template-columns: 12rem auto;
  gap: 20px;
}

.info-section {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-right: 10px;
}

.info-section::-webkit-scrollbar {
  width: 0;
}
@media (max-width: 768px) {
  .App {
    height: auto;
    align-items: center;
  }

  .AppGlass {
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr;
    padding: 1.2rem;
    border-radius: 0;
    gap: 0;
  }

  .info-section {
    padding: 1rem;
    margin: 0px -15px;
    height: 100%;
  }
}
