
.bookings-revenue{
    display: flex;
    margin: 20px 0;
    gap: 10px;
}
.booking{
    display: flex;
    gap: 5px;
    align-items: start;
    background-color: rgb(197, 197, 224);
    padding: 10px 10px;
    border: .8px solid black;
    border-radius: 10px;
}
.total-booking{
    display: flex;
    flex-direction: column;
}
.table{
    border: 1px solid black;
}
.table-heading{
    background-color: aliceblue;
    display: flex;
    gap: 10px;
    padding: 10px 10px;
    border-bottom: 1px solid black;
}

.table-container {
  max-height: 300px; /* scrolling height */
  overflow-y: auto;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th {
  background: #d7def3;
  padding: 12px;
  font-weight: 600;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.custom-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  text-align: center;
}

.status-completed {
  background: #c5f7d0;
  color: #0a8a44;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 13px;
}

.status-pending {
  background: #ffefc5;
  color: #ab7200;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 13px;
}
.canceled{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 768px) {

  h1 {
    font-size: 25px !important;
    text-align: center;
  }

  .booking {
    width: 100%;
    justify-content: center;
  }

  .booking svg {
    width: 40px !important;
    height: 40px !important;
  }

  .table-container {
    overflow-x: auto;
    max-height: none;
  }

  .custom-table {
    min-width: 600px;
  }

  .custom-table th,
  .custom-table td {
    padding: 10px;
    font-size: 20px;
  }

  select {
    font-size: 12px;
    padding: 4px 8px;
  }

  .status-completed,
  .status-pending {
    font-size: 12px;
    padding: 4px 10px;
  }

  .canceled {
    gap: 10px;
  }
}