:root {
    --yellow: linear-gradient(180deg, #F8D494 -146.42%, #FAD79D -46.28%);
    --orange: #fca61f;
    --black: #242d49;
    --gray: #788097;
    --pink: #ff9190;
    --glass: rgba(255, 255, 255, 0.54);
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
    --smboxShadow: -79px 51px 60px rgb(0 0 0 / 8%);
    --activeItem: #f799a354;
}
